html {
  height: 100%;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times;
}

body{
  /* display: flex;
  align-items: center;
  justify-content: left; */
    h2 {
      align-items: center;
    }
    h1{
      align-items: center;
      justify-content: center;
    }
  
  flex-direction: column;
  background-color: #538c50;
  color: #eaea10;
}

img {
  position: absolute;
  top: 0;
  left: 0;
}



/* buttons  */

#section1, #section2, #section3, #section4, #section5{
  text-decoration: none;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
  color: #eaea10;
  font-family:Georgia;
  display: block;
}

h3, #section1, #section2, #section3, #section4, #section5{
  font-size: 2em;
}

#box, #box2, #box3, #box4, #box5{
  font-size: 1.5em;
  display:none;
}