html{
  height: 100%;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #538c50;
  color: #eaea10;
}
img {
  position: absolute;
  top: 0;
  left: 0;
}

#main { 
    position: fixed; 
    top: 200px;
}
messages {
  display: flex;
  height: 90%;
  width: 100%;
  background-color: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
}


